
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Who's Trippin'?</title>

    <!-- STYLESHEETS -->
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Bubblegum+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Londrina+Solid' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/app.js"></script>

    <script type="text/javascript">
      window.user = {{{user}}};
    </script>
  </head>

<body>

  <!--nav bar-->
  <div id="mainNav">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand home" href="javascript:void(0)">Who's Trippin'?</a>
        </div>



        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li id="signUpBtn" class="nava"><a href="javascript:void(0)">Sign Up</a></li>
            <li id="logInBtn" class="nava"><a href="javascript:void(0)">Log In</a></li>

            <!--dropdown menu if user is logged in -->
            <li id="dropdown" class="dropdown nava">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  Account
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <!-- <li id="dropdown-menu"><a href="javascript:void(0)">Profile</a></li>
                <li id="dropdown-menu"><a href="javascript:void(0)">Messages</a></li>
                <li id="dropdown-menu"><a href="javascript:void(0)">Settings</a></li>
                <li role="separator" class="divider"></li> -->
                <li id="dropdown-menu"><a href="/logout">Log Out</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav><!-- / .navbar-->
  </div><!-- / .mainNav-->

  <!--header-->
  <div id="header" class="container">
    <div class="row title">
      <div class="col-md-12">
        <h1><strong>Welcome to Who's Trippin'?</strong></h1>
        <h3>Planning a trip? Interested in meeting fellow travelers or locals? Find out who's tripping and connect with like-minded travelers!</h3>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <header>
          <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2 caption_title">
              <p class="nav_title">New Travels, New Experiences, New Friendships!</p>
            </div>
          </div>
        </header>
      </div>
      <div class="col-md-4 top">
        <div id="top" class="row">
          <h2><strong>Where are you traveling to?</stong></h2>
          <hr>
          <div class="city">
            <h3>Browse through all the posts below or search by City or Country</h3>
          </div>
        </div>
        <div class="row center">
          <form id="search" class="input-group search">
            <input type="text" name="search" class="form-control" id="place" placeholder="Search by City or Country...">
            <button type="submit" class="btn btn-default searchbtn"><a href="/posts"><span class="glyphicon glyphicon-search"></span></a></button>
          </form>
        </div>
        <div id="view" class="row">
          <button type="submit" class="btn btn-default post"><a href="/">View all posts</a></button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 top">
        <h2><strong>Check Out Upcoming Trips</strong></h2>
          <hr>
      </div>
    </div>
  </div>

  <!--view post section-->
  <div id="section">
    <div class="container">
      <div class="row">
      <!-- handlebars template -->
        <div id="allPost" class="col-md-8">
          <div id="user">
            <script id="user-template" type="text/x-handlebars-template">
              \{{#each user}}
                <div id="postSection" class="row">
                  <div class="col-md-3">
                    <img id="pic" src=\{{image}} class="img-circle">
                    <div id="profileCaret" class="dropdown">
                      <span class="glyphicon glyphicon-user" aria-hidden="true"><span id="a"> \{{username}} </span> </span>
                      <a id="caret" href="javascript:void(0)" data-toggle="dropdown"> <span class="caret dropdown-toggle" aria-haspopup="true" aria-expanded="true"></span></a>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li class="view_user"><a id="view_profile" href="javascript:void(0)" data-user-Id=\{{_id}}>View Profile</a></li>
                        <li class="delete_user"><a id="delete_user" href="javascript:void(0)" data-user-Id=\{{_id}}>Delete User</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-9" id="posting">
                    \{{#each posts}}
                      <div id="postCity"><span id="postTitle"><strong>\{{city}}</strong>, \{{country}}</span>
                        <div class="pull-right">
                          <a href="javascript:void(0)" id="edit_post" data-post-Id=\{{_id}} data-user-Id=\{{../_id}}><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                          <a href="javascript:void(0)" id="delete_post" data-post-Id=\{{_id}} data-user-Id=\{{../_id}}><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                        </div>
                        <p><h4>\{{description}}</h4></p>
                      </div>
                    \{{/each}}
                    <div id="addPostBtn">
                      <a href="javascript:void(0)" class="add_post" data-user-Id=\{{_id}} data-post-Id=\{{posts._id}}><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Post</a>
                    </div>
                    <hr>
                  </div>
                </div>
              \{{/each}}
            </script>
          </div>
        </div>
      </div><!--close row-->
    </div><!--close container-->
  </div><!--close postSection-->

    <!-- signup modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="signUpModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div id="modal-header" class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 id="modal-title" class="modal-title">Create A New Account</h4>
            </div>
            <div class="modal-body">
              <form id="signUpForm" method="POST" action="/signup">
                  <div class="form-group row text-left">
                    <label for="inputUser" class="col-sm-2 col-sm-offset-1 form-control-label">Username</label>
                    <div class="col-sm-8">
                      <input type="text" name="username" class="form-control" placeholder="" required="true">
                    </div>
                  </div>
                  <div class="form-group row text-left">
                    <label for="inputEmail" class="col-sm-2 col-sm-offset-1 form-control-label">Email</label>
                    <div class="col-sm-8">
                      <input type="text" name="email" class="form-control" placeholder="" required="true">
                    </div>
                  </div>
                  <div class="form-group row text-left">
                    <label for="inputName" class="col-sm-2 col-sm-offset-1 form-control-label">Full Name</label>
                    <div class="col-sm-8">
                      <input type="text" name="name" class="form-control" placeholder="" required="true">
                    </div>
                  </div>
                  <div class="form-group row text-left">
                    <label for="inputPassword" class="col-sm-2 col-sm-offset-1 form-control-label">Password</label>
                    <div class="col-sm-8">
                      <input type="password" name="password" class="form-control" placeholder="" required="true">
                    </div>
                  </div>
                  <div class="form-group row text-left">
                    <label for="inputAge" class="col-sm-2 col-sm-offset-1  form-control-label">Age</label>
                    <div class="col-sm-8">
                      <input type="text" name="age" class="form-control" placeholder="">
                    </div>
                  </div>
                  <div class="form-group row text-left">
                    <label for="inputDescription" class="col-sm-2 col-sm-offset-1  form-control-label">About Me</label>
                    <div class="col-sm-8">
                      <textarea type="text" name="blurb" rows="3" class="form-control" placeholder=""></textarea>
                    </div>
                  </div>
                  <div class="form-group row text-left">
                    <label for="inputPic" class="col-sm-2 col-sm-offset-1  form-control-label">Photo</label>
                    <div class="col-sm-8">
                      <input type="text" name="image" class="form-control" placeholder="">
                    </div>
                  </div>
                  <div class="col-md-4 col-md-offset-4">
                    <div class="form-group row">
                      <button id="sign" type="submit" class="btn btn-block btn-primary" value="Log In">Sign Up Now</button>
                    </div>
                  </div>
              </form>
            </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- login modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="logInModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div id="modal-header" class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 id="modal-title" class="modal-title">Log In</h4>
            </div>
            <div id="modal-body-login"class="modal-body">
              <form id="logInForm" method="POST" action="/login">
                <div class="form-group row text-left">
                  <label for="inputEmail" class="col-sm-2 col-sm-offset-2 form-control-label">Username</label>
                  <div class="col-sm-6">
                    <input type="text" name="username" class="form-control" placeholder="" required="true">
                  </div>
                </div>
                <div class="form-group row text-left">
                  <label for="inputEmail" class="col-sm-2 col-sm-offset-2 form-control-label">Password</label>
                  <div class="col-sm-6">
                    <input type="password" name="password" class="form-control" placeholder="" required="true">
                  </div>
                </div>
                <div class="col-md-2 col-md-offset-5">
                  <div class="form-group">
                    <button id="log" type="submit" class="btn btn-block btn-primary" value="Sign Up">Log In</button>
                  </div>
                </div>
              </form>
            </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


<!--user profile modal-->
    <div id="profileModal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div id="modal-header" class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 id="modal-title" class="modal-title">User Profile</h4>
          </div>
          <div id="profile" class="modal-body">
            <script id="modal-template" type="text/x-handlebars-template">
            <div class="row">
              <div class="col-md-3 col-md-offset-1">
                <img id="pic_modal" src=\{{user.image}}>
              </div>
              <div class="col-md-7 text-left">
                <h1 id="modaluser">\{{user.username}}</h1>
                <h4 id="modalage">Age: \{{user.age}} </h4>
                <h4 id="modalabout">About me: \{{user.blurb}} </h4>
              </div>
            </div>
          </script>
          </div>
          <div class="modal-footer">
            <button id="closeprofile" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <!--create Post modal -->
    <div id="postModal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div id="modal-header" class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 id="modal-title" class="modal-title">Post Information</h4>
          </div>
          <div class="modal-body">
            <form id="post_form" class="form-inline">
              <div class="row">
                <div class="col-sm-4 col-sm-offset-1 text-left">
                  <label for="city">City</label><br>
                  <input id="city" type="text" name="city" class="form-control input-md" placeholder="" required="true">
                </div>
                <div class="col-sm-3 text-left">
                  <label for="country">Country</label><br>
                  <input id="country" type="text" name="country" class="form-control input-md" placeholder="" required="true">
                </div>
              </div>
                <div id="descriptionBox" class="row">
                  <label for="description" class="col-sm-1 col-sm-offset-1 form-control-label">Description</label>
                  <div class="col-sm-10 col-sm-offset-1">
                    <textarea id="description" name="description" class="form-control" rows="12" placeholder=""></textarea>
                  </div>
                </div>
              </form>
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="savePost">Save changes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!--end of creating post modal -->

<!--bottom footer-->
    <div class="bottom text-center">
      <p id="footer">Contact Me</p>
      <li class="footer_line"><a href="https://github.com/lamchristine/project1">GitHub</a></li>
      <li class="footer_line log"><a href="https://www.linkedin.com/in/christinelam06">LinkedIn</a></li>
      <li class="footer_line"><a href="mailto:christine.lam.06@gmail.com">Email</a></li>
    </div>


  </body>
</html>
