
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Project1</title>

    <!-- STYLESHEETS -->
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Bubblegum+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Londrina+Solid' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/user.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/user.js"></script>

    <script type="text/javascript">
      window.user = {{{user}}};
    </script>
  </head>

<body>

  <!--nav bar-->
  <div id="navbar" class="navbar">
    <div class="row">
      <div class="col-md-4 nav_home">
        <ul>
          <li class="home"><span>W</span>hO'S <span>T</span>riPpiN'<span>?</span></a></li>
        </ul>
      </div>
      <div class="col-md-4 col-md-offset-3">
        <ul class="right">
          <li class="nava"><button id="signUpBtn" class='btn btn-primary signup'>Signup</button></li>
          <li class="nava"><button id="logInBtn" class='btn btn-primary login'>Log In</button></li>

          <!--dropdown menu if user is logged in -->
          <div class="col-md-4 col-md-offset-4">
          <div id="dropdown" class="dropdown">
              <span class="glyphicon glyphicon-user" aria-hidden="true"><span id="p"> </span> </span>
              <a id="caret" href="javascript:void(0)" data-toggle="dropdown"> <span class="caret dropdown-toggle" aria-haspopup="true" aria-expanded="true"></span></a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li id="dropdown-menu"><a href="javascript:void(0)">Profile</a></li>
              <li id="dropdown-menu"><a href="javascript:void(0)">Messages</a></li>
              <li id="dropdown-menu"><a href="javascript:void(0)">Settings</a></li>
              <li><hr></li>
              <li id="dropdown-menu"><a href="/logout">Log Out</a></li>
            </ul>
          </div>
        </div>
        <!--end of drop down menu-->
        </ul>
      </div>
    </div>
  </div>

  <!--header-->
  <header>
    <div class="row">
      <div class="col-md-4 col-md-offset-4 caption_title">
        <p class="nav_title">New Travels, New Experiences, New Friendships!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 caption_excerpt">
        <p class="excerpt">Planning a trip? Interested in meeting fellow travelers or locals? Find out who's tripping where and when and connect with like-minded travelers!</p>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <form id="search" class="form-inline search">
          <div class="form-group">
            <label for="place"></label>
            <input type="text" name="search" class="form-control" id="place" placeholder="Where do you want to go? Search by City or Country...">
          </div>
          <button type="submit" class="btn btn-default searchbtn"><a href="/posts"><span class="glyphicon glyphicon-search"></span></button>
        </form>
      </div>
    </div>
    <div class="row">
      <button type="submit" class="btn btn-default post"><a href="/posts">View all posts</a></button>
    </div>
  </header>


  <!--view post section-->
      <div id="section_title" class="row">
        <p><h1><span>Checkout Upcoming Trips!</span></h1></p>
      </div>

    <div class="row">
    <!-- handlebars template -->
      <div id="allPost" class="col-md-8 col-md-offset-1">
        <div id="user">
          <script id="user-template" type="text/x-handlebars-template">
            \{{#each user}}
              <div id="postSection" class="row">
                <div class="col-md-2">
                  <img id="pic" src=\{{image}} class="img-circle">
                  <div id="profileCaret" class="dropdown">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"><span id="a"> \{{username}} </span> </span>
                    <a id="caret" href="javascript:void(0)" data-toggle="dropdown"> <span class="caret dropdown-toggle" aria-haspopup="true" aria-expanded="true"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      <li class="view_user"><a id="view_profile" href="javascript:void(0)" data-user-Id=\{{_id}}>View Profile</a></li>
                      <li><hr></li>
                      <li class="delete_user"><a id="delete_user" href="javascript:void(0)" data-user-Id=\{{_id}}>Delete User</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-9" id="posting">
                  \{{#each trips}}
                      <div class="row">
                        <ul id="tripPost">
                          <li id="tripCity"><span id="postTitle"><strong>\{{city}}</strong>, \{{country}}</span>
                            <div class="pull-right">
                              <a href="javascript:void(0)" id="edit_trip" data-trip-Id=\{{_id}} data-user-Id=\{{../_id}}><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a>
                              <a href="javascript:void(0)" id="edit_trip" data-trip-Id=\{{_id}} data-user-Id=\{{../_id}}><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                              <a href="javascript:void(0)" id="delete_trip" data-trip-Id=\{{_id}} data-user-Id=\{{../_id}}><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                            </div>
                          </li>
                          <li id="description">
                            <p><h4>\{{description}}</h4></p>
                            <hr id="postdivider">
                          </li>
                        </ul>
                      </div>
                  \{{/each}}
                  <div id="addTripBtn">
                    <a href="javascript:void(0)" class="add_trip" data-user-Id=\{{_id}} data-trip-Id=\{{trips._id}}><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Trip</a>
                  </div>
                </div>
              </div>
            \{{/each}}
          </script>
        </div>
        </div>
        <div id="galleryPanel" class="col-md-2">
          <div>
            <p id="galleryTitle"> Top Travel Destinations</p>
            <hr class='ruler'>
              <div class="col-md-6 photo"><img src="images/city-4.jpg" class="img-responsive center-block gallery"><p class="img_cap"><span>Toronto</span></p></div>
              <div class="col-md-6 photo"><img src="images/city-8.jpg" class="img-responsive center-block gallery"><p class="img_cap"><span>Berlin</span></p></div>
              <div class="col-md-6 photo"><img src="images/city-9.jpg" class="img-responsive center-block gallery"><p class="img_cap"><span>Quito</span></p></div>
              <div class="col-md-6 photo"><img src="images/nature-4.jpg" class="img-responsive center-block gallery"><p class="img_cap"><span>Australia</span></p></div>
              <div class="col-md-6 photo"><img src="images/nature-5.jpg" class="img-responsive center-block gallery"><p class="img_cap"><span>Munich</span></p></div>
              <div class="col-md-6 photo"><img src="images/nature-3.jpg" class="img-responsive center-block gallery"><p class="img_cap"><span>Rio</span></p></div>
              <div class="col-md-6 photo"><img src="images/nightlife-7.jpg" class="img-responsive center-block gallery"><p class="img_cap"><span>Santiago</span></p></div>
              <div class="col-md-6 photo"><img src="images/transport-1.jpg" class="img-responsive center-block gallery"><p class="img_cap"><span>Vancouver</span></p></div>
              <div class="col-md-6 photo"><img src="images/transport-7.jpg" class="img-responsive center-block gallery"><p class="img_cap"><span>Sao Paulo</span></p></div>
              <div class="col-md-6 photo"><img src="images/city-4.jpg" class="img-responsive center-block gallery"><p class="img_cap"><span>Vienna</span></p></div>
            <p id="galleryTitle2"> Let's Chat</p>
            <hr class='ruler'>
            <div><span class="col-md-4 glyphicon glyphicon-envelope"></span></div>
            <div><span class="col-md-4 glyphicon glyphicon-phone"></span></div>
            <div><span class="col-md-4 glyphicon glyphicon-earphone"></span></div>
          </div>
        </div>

    </div>


    <!-- signup modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="signUpModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div id="modal-header" class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 id="modal-title" class="modal-title">Create A New Account</h4>
            </div>
            <div class="modal-body">
              <form id="signUpForm" method="POST" action="/signup">
                  <div class="form-group row text-left">
                    <label for="inputEmail" class="col-sm-2 col-sm-offset-1 form-control-label">Email</label>
                    <div class="col-sm-8">
                      <input type="text" name="username" class="form-control" placeholder="" required="true">
                    </div>
                  </div>
                  <div class="form-group row text-left">
                    <label for="inputPassword" class="col-sm-2 col-sm-offset-1 form-control-label">Password</label>
                    <div class="col-sm-8">
                      <input type="password" name="password" class="form-control" placeholder="" required="true">
                    </div>
                  </div>
                  <div class="form-group row text-left">
                    <label for="inputAge" class="col-sm-2 col-sm-offset-1  form-control-label">Age</label>
                    <div class="col-sm-8">
                      <input type="text" name="age" class="form-control" placeholder="">
                    </div>
                  </div>
                  <div class="form-group row text-left">
                    <label for="inputDescription" class="col-sm-2 col-sm-offset-1  form-control-label">About Me</label>
                    <div class="col-sm-8">
                      <textarea type="text" name="blurb" rows="3" class="form-control" placeholder=""></textarea>
                    </div>
                  </div>
                  <div class="form-group row text-left">
                    <label for="inputPic" class="col-sm-2 col-sm-offset-1  form-control-label">Photo</label>
                    <div class="col-sm-8">
                      <input type="text" name="image" class="form-control" placeholder="">
                    </div>
                  </div>
                  <div class="col-md-4 col-md-offset-4">
                    <div class="form-group row">
                      <button id="sign" type="submit" class="btn btn-block btn-primary" value="Log In">Sign Up Now</button>
                    </div>
                  </div>
              </form>
            </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- login modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="logInModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div id="modal-header" class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 id="modal-title" class="modal-title">Log In</h4>
            </div>
            <div id="modal-body-login"class="modal-body">
              <form id="logInForm" method="POST" action="/login">
                <div class="form-group row text-left">
                  <label for="inputEmail" class="col-sm-2 col-sm-offset-2 form-control-label">Email</label>
                  <div class="col-sm-6">
                    <input type="text" name="username" class="form-control" placeholder="Username" required="true">
                  </div>
                </div>
                <div class="form-group row text-left">
                  <label for="inputEmail" class="col-sm-2 col-sm-offset-2 form-control-label">Password</label>
                  <div class="col-sm-6">
                    <input type="password" name="password" class="form-control" placeholder="Password" required="true">
                  </div>
                </div>
                <div class="col-md-2 col-md-offset-5">
                  <div class="form-group">
                    <button id="log" type="submit" class="btn btn-block btn-primary" value="Sign Up">Log In</button>
                  </div>
                </div>
              </form>
            </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


<!--user profile modal-->
    <div id="profileModal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div id="modal-header" class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 id="modal-title" class="modal-title">User Profile</h4>
          </div>
          <div id="profile" class="modal-body">
            <script id="modal-template" type="text/x-handlebars-template">
            <div class="row">
              <div class="col-md-3 col-md-offset-1">
                <img id="pic_modal" src=\{{user.image}}>
              </div>
              <div class="col-md-7 text-left">
                <h1 id="modaluser">\{{user.username}}</h1>
                <h4 id="modalage">Age: \{{user.age}} </h4>
                <h4 id="modalabout">About me: \{{user.blurb}} </h4>
              </div>
            </div>
          </script>
          </div>
          <div class="modal-footer">
            <button id="closeprofile" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <!--create trip modal -->
    <div id="tripModal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div id="modal-header" class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 id="modal-title" class="modal-title">Trip Information</h4>
          </div>
          <div class="modal-body">
            <form id="trip_form" class="form-inline">
              <div class="row">
                <div class="col-sm-4 col-sm-offset-1 text-left">
                  <label for="city">City</label><br>
                  <input id="city" type="text" name="city" class="form-control input-md" placeholder="" required="true">
                </div>
                <div class="col-sm-3 text-left">
                  <label for="country">Country</label><br>
                  <input id="country" type="text" name="country" class="form-control input-md" placeholder="" required="true">
                </div>
              </div>
                <div id="descriptionBox" class="row">
                  <label for="description" class="col-sm-1 col-sm-offset-1 form-control-label">Description</label>
                  <div class="col-sm-10 col-sm-offset-1">
                    <textarea id="description" name="description" class="form-control" rows="12" placeholder=""></textarea>
                  </div>
                </div>
              </form>
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="saveTrip">Save changes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!--end of creating trip modal -->


    <!-- Success modal-->
    <div id="successModal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <!-- <h4 class="modal-title">Modal title</h4> -->
          </div>
          <div class="modal-body">
            <p>SUCCESS! You've right!</p>
          </div>
          <!-- <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div> -->
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


<!--bottom footer-->
    <div class="bottom">
      <ul class="footer">
          <li class="footer_line"><a href="#about">Sign Up</a></li>
          <li class="footer_line"><a href="#photos">Log In</a></li>
          <li class="footer_line"><a href="#contact">Contact</a></span></li>
      </ul>
      <p id="footer">CHRISTINE LAM | christine.lam.06@gmail.com</p>
    </div>


  </body>
</html>
